// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
.btn {
	font-size: 18;
}
.fa{
  font-family: "FontAwesome", "fontawesome-webfont";
}


.box {
  margin: 30;
  padding: 50;
  border-width: 1;
  border-color: slategray;
  border-radius: 10;
  font-size: 24;
}